<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/chartjs/chart.min.js"></script>-->
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/bootbox/bootbox.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/scrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/icheck/icheck.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/inputmask/jquery.inputmask.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/gritter/js/jquery.gritter.min.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/selectize/selectize.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/validation-engine/validate.min.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/validation-engine/validationEngine.min.js"></script>
<script type="text/javascript" src="<?php echo $this->base ?>/assets/js/script.js?version=<?php echo time() ?>"></script>
<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->


<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/datetimepicker/ui-bootstrap.tpls.js"></script>

<script type="text/javascript" src="<?php echo $this->base ?>/assets/plugins/datetimepicker/datetime-picker.js"></script>


<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>