@import url(../plugins/jquery-ui-autocomplete/jquery-ui.min.css); 

.ui-front {
    z-index: 2000 !important;
}
.input{
  outline:none;
  padding:0px 10px;
  margin:0px auto;
  display:block;  
}
.ui-widget-content{
  border:none !important;
  background:none !important;
}
.ui-menu-item{
  color: #000000 !important;
  padding: 10px 10px 20px !important;
  height:20px !important;
  cursor: pointer;
  border:none !important;
  background:none !important;
  background: #f9f9f9 !important;
  border-bottom: 1px solid #eeeeee !important;
  width:100% !important;
  font-size: 12px !important;
}
.ui-state-focus{
  color: #FFFFFF !important;
  background:none !important;
  border:none !important;
  background: #0099FF !important;
  padding: 10px 10px 20px !important;
  height:22px !important;
  cursor: pointer !important;
  background: #0099FF !important;
  border-bottom: 1px solid #eeeeee !important;
  width:100% !important;
}
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
}