@import url(fonts/opensans/css.css);
@import url(fonts/homizio-nova/css.css);

body {
   font-family: 'Open Sans';
   /* background: linear-gradient(to right, rgba(255,0,0,0), rgb(1, 48, 105));     */
   background-size: 100%;
    background: url(img/bg.jpg) no-repeat center center fixed;
}

.svg-icon {
    display:inline-block;
    width:15px;
    height:15px;
    box-sizing: border-box;
}
.svg-icon svg {
    width:100%;
    height:100%;
    fill: #fff;
}

.btn-icon {
	width: 30px;
	height: 30px;
}

#login {
	position: relative;
	padding: 10px;
	background: rgba(0,0,0,0.15);
	background: linear-gradient(to left, rgba(255,0,0,0), rgb(1, 48, 105));
	
}
#login h1 {
	font-size: 100px;
	font-weight: 100;
	margin: 0px;
	text-align: center;
	color: #FFF;
	
}
#loginBtn{
	margin-top: 15px;
}

#login header p {
	font-size: 14px;
	text-shadow: rgba(255, 255, 255, 0.4) 0px 0px 3px;
	text-align: center;
	color: #FFF;
	letter-spacing: 1.5px;
	font-family: 'Homizio Nova Light';
}

#box-login {
	
	width: 500px;
	/*position: fixed;*/
	left: 50%;
	margin-left: -250px;
	margin-top: 60px;
	color: #fff;
}

.login-title {
	font-weight: 100;
	font-size: 24px;
	margin-bottom: 20px;
	color: #fff;
}

.btn-min {
	min-width: 150px;
}

.input-form {
	height: 100%;
	padding: 15px 15px;	
}

.footer {
	color: #FFF;
	font-size:12px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 8px;
	background: rgba(0,0,0,0.15);
	background: linear-gradient(to left, rgba(255,0,0,0), rgb(1, 48, 105));
}

.copyright, .poweredby {
	text-align: center;
}

.poweredby > a {
	color: #77C0FF;
}
