@import url(fonts/opensans/css.css);
@import url(fonts/homizio-nova/css.css);
@import url(../plugins/datepicker/datepicker.css);
@import url(../plugins/font-awesome/css/font-awesome.min.css);
@import url(../plugins/icheck/skins/square/blue.css);
@import url(../plugins/gritter/css/jquery.gritter.css);
@import url(../plugins/selectize/selectize.css);
@import url(../plugins/validation-engine/validation.css); 
@import url(../plugins/datetimepicker/datetime-picker.css); 

body {
	font-family: 'Open Sans';
	overflow-y: scroll;
	background-color:#DDE7DD;
	
}
.table {
	font-size: 12px;
}

/* TABLE FORM */

.table-form-title {
	font-family: 'Homizio Nova';
	letter-spacing: 1.5px;
	font-size: 18px;
	margin: 20px 0px 10px 0px;
	background: #f5f5f5;
	padding:10px 5px 10px 10px;
}
.table-form {
	width:100%;
}
.table-form td {
	padding: 0px 5px 0px 5px;
}
.table-form td.form-label {
	padding: 10px 5px 5px 5px;
}
.pos-table>thead>tr>th, .pos-table>tbody>tr>th, .pos-table>tfoot>tr>th, .pos-table>thead>tr>td, .pos-table>tbody>tr>td, .pos-table>tfoot>tr>td
{
  padding: 16px 0;
  border-top: 0; 
}

p#table-index {
  padding: 0 20px;
}

.pos-drawer {
  /*font-size:12px;*/
    /*padding: 8px 0px;*/
  background-color:rgb(56,129,194);
}

#pos-drawer1 {

  margin: 0;

}
#pos-drawer2{
  /*background-color:rgb(50,116,175);*/
  /*padding: 8px 0px;*/
  border-top: 1px solid rgb(33,77,116);
  margin: 0;
}

.pos-stats {
    margin-bottom: 15px;
    color: #fff;
    margin-left: 0;
}
.pos-stats a {
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
  /*font-size: 13px;*/

}
/* END TABLE FORM */

h3.table-title {
	font-family: 'Homizio Nova';
	letter-spacing: 1.5px;
	font-size: 18px;
	margin-bottom: 20px;
}
.w30px {
	width:30px;
}
.w60px {
	width:60px;
}
.w70px {
  width:70px;
}
.w80px {
  width:80px;
}
.w90px {
	width:90px;
}
.w120px {
	width:120px;
}
.w150px {
	width:150px;
}

table.center td,
table.center th {
	text-align: center;
}

table.vcenter td,
table.vcenter th {
	vertical-align: middle !important;
}

.vtop {
	vertical-align: top !important;
}

.btn-min {
	min-width: 120px;
}

.no-border-top td,
.no-border-top th {
	border-top: none !important;
}

tr.no-padding-top-bottom td,
tr.no-padding-top-bottom th {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
tr.no-padding-bottom td {
 	padding-bottom: 0px !important; 
 	margin-bottom:0px;
}
.no-border-radius {
	border-radius: 0px !important;
}

.uppercase {
	text-transform: uppercase;
}
.text-left {
	text-align: left !important;
}
/* CUSTOM */
.header {
	padding-top: 15px;
/*	background: #2E72AD;*/
}

.header .header-sub-wrapper, .header .header-sub-wrapper-2 {
	padding: 0px 30px;
	border-bottom: 0px solid #EEE;
}

.header .header-sub-wrapper-2 {
	padding-left: 0px;
}
.header .logo-link, .header .logo-link:hover {
	color: #595959;
	text-decoration: none;
}
.header a #logo {
	color: #FFF;
	font-size: 32px;
	font-family: 'Homizio Nova Light';
	text-align: center;
	line-height: 1;
}

.header a #title {
	color: #FFF;;
	font-size: 13px;
	text-align: center;
	padding-bottom: 18px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background: none;
	border: none;
}

.main {
	width: 100%;
	margin-top: 40px;
}


.navbar-nav a {
	font-size: 12px;
	font-weight: 400;
}
.user-info > div {
	text-align: center;
}
.user-image {
	text-align: center;
}

.user-image img {
	display: inline-block;
	border: 2px solid #EEE;
}
.user-name {
	padding: 8px 0px;
	font-size: 24px;
	text-align: center;
	font-family: 'Homizio Nova Light';
	letter-spacing: 1px;
}
.user-department {
	padding: 4px 0px;
	font-size: 18px;
	font-family: 'Homizio Nova Light';
	letter-spacing: 1.5px;
}
.user-designation {
	font-family: 'Homizio Nova Light';
	letter-spacing: 1.5px;
}
.menu-icon {
	text-align: center;
	padding: 0px 0px 10px 0px;
}
.menu-icon > i {
	font-size: 24px;
}

.new-application > i {
	font-size: 70px;
}

.logout {
	color: #333;
	font-size:12px;
	-webkit-transform: ease 500ms;
}

.logout:hover {
	text-decoration: none;
}

.system-title {
	padding-top: 30px;
	font-family: 'Homizio Nova Light';
	font-size: 18px;
	/*color: #626262;*/
	color:#FFF !important;
	letter-spacing: 1.5px;
}

.modal-title {
	font-family: 'Homizio Nova';
	letter-spacing: 1px;
}

.nav-tabs > li {
	font-size: 12px;
}
.sign-out {
	padding: 0px 0px 15px 0px;
}
#time {
	font-family: 'Homizio Nova Light';
	font-size: 24px;
	letter-spacing: 1.5px;
	padding: 15px 0px;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid #EEE;
}

.search {
	font-size: 11px;
}

.fee-amount {
	font-size:12px;
}

.normal {
	font-weight: normal;
}
.italic {
	font-style: italic;
}

hr.no-margin {
	margin: 10px 0px 10px 0px;
}

.dashboard-date-day {
	font-size:90px;
	font-weight:100;
}

td.occupied, td.reserved {
	background: #d43f3a !important;
	color: #FFF;
}
td.available {
	/*background: #4cae4c !important;*/
}

.bggray {
	background:#f5f5f5;
}

.stats {
    color: #fff;
    margin-bottom: 15px;
    margin-left: 0;
    padding: 15px;
    text-align: center;
    
}
.stats a {
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
  font-size: 13px;
}
.stats-icon {
  font-size: 40px;
}
.navbar-default .navbar-nav>li>a{
  color:white;
}
.dropdown-menu{
  /*background: lightseagreen;*/
  color: white;
  font-size: 20px;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #000;
  background-color: rgba(231, 231, 231, 0.32);
  border-radius: 8px;
  padding-bottom: 5px;
}

.image:hover {
-webkit-transform:scale(1.05);
transform:scale(1.05);}
.image {
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;}

.stats-label {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #ead023;
}
.propercase {
  text-transform: capitalize;
}
.nopadding {
  padding : 0 !important;
  margin  : 0 !important;
}
    


