<ul class="list-group">
 <li class="list-group-item text-center"><b>Hi!</b>
  <?php  echo $this->Session->read('Auth.User.firstName'); ?>
 </li>
 <li class="list-group-item text-center">
   <img src="https://www.tm-town.com/assets/default_male300x300-aae6ae0235b6cd78cee8df7ae19f6085.png" width="100">
 </li>
</ul>